<div id="cookieBanner" class="cookie-banner" th:fragment="cookieBanner">
    This website uses cookies.

    <form th:action="@{/cookies/accept}" method="post" style="display:inline;">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <button type="submit">Accept</button>
    </form>

    <form th:action="@{/cookies/decline}" method="post" style="display:inline;">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <button type="submit">Decline</button>
    </form>
</div>