<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmation</title>
    <link rel="stylesheet" th:href="@{/css/cart.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h1>Confirmation</h1>
<div class="confirmation-container">
    <h2 class="confirmation-title">Thank you for your order!</h2>
    <ul class="order-list">
        <li class="order-item" th:each="item : ${order.items}">
            <div class="order-info">
                <p th:text="${item.productName}"></p>
            </div>
            <div class="order-meta">
                <p th:text="'Quantity: ' + ${item.quantity}"></p>
                <p th:text="${item.price}"></p>
            </div>
        </li>
    </ul>
    <h2>Total: </h2>
    <p th:text="${order.totalPrice}"></p>
</div>

</body>
</html>
